/*=====================*/
/*=====================*/
/*===== Tyler's css =====*/
/*=====================*/
/*=====================*/

#wrapper, body{
    background-color: #271b3a;
    margin: 0 auto;
}
#content{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    line-height:1.625;
    background-color: white;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}